# Assignment on Store_sales dataset

**Load the Dataset**

In [8]:
import pandas as pd
data=pd.read_csv("C:\\Users\\CVR\\Downloads\\store_sales.csv")
data

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

**Calculate the total sales for each store across all months.**

In [11]:
total_sales_per_store = data.groupby('store_id').value_counts()
total_sales_per_store

store_id  city        Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  Dec
S_1       Texas       8    20   13   21   17   20   24    17   16   9    7    6      1
S_10      California  14   23   20   11   12   13   19    6    5    22   17   16     1
S_100     California  5    23   17   24   15   21   19    10   12   20   5    9      1
S_11      Arizona     15   24   8    15   24   21   6     21   20   13   14   15     1
S_12      California  6    18   21   8    5    8    11    9    21   17   18   22     1
                                                                                    ..
S_95      California  10   22   13   20   5    5    9     15   23   23   24   7      1
S_96      Texas       7    10   20   20   10   15   15    21   15   7    23   22     1
S_97      California  13   6    7    15   22   10   21    23   10   6    12   9      1
S_98      Texas       16   9    6    14   20   13   11    10   8    22   17   22     1
S_99      Arizona     18   16   9    5    12   22   11    13   21   17   19   10     1
Name: count, Length: 100, dtype: int64

**Find the average sales for each month across all stores**

In [12]:
average_sales_per_month = data[['Jan', 'Feb', 'Mar', 'Apr', 'May']].mean()
average_sales_per_month

Jan    14.46
Feb    15.09
Mar    14.56
Apr    14.57
May    13.56
dtype: float64

**Identify the store with the highest total sales.**

In [14]:
highest_sale=total_sales_per_store.max()
highest_sale

1

**Calculate the total sales for each city.**

In [19]:
total_sales_per_city = data.groupby('city').sum()
total_sales_per_city

,store_id,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
city,,,,,,,,,,,,,
Arizona,S_7S_11S_13S_15S_18S_25S_32S_34S_39S_44S_48S_5...,341,336,320,329,310,332,322,341,337,329,361,293
California,S_2S_3S_6S_8S_10S_12S_16S_17S_19S_20S_21S_24S_...,634,668,629,601,570,589,637,698,640,614,657,585
Texas,S_1S_4S_5S_9S_14S_22S_23S_30S_33S_36S_40S_41S_...,471,505,507,527,476,459,479,542,514,467,513,479

**List stores with total sales greater than 200**

In [21]:
stores_above_200 = total_sales_per_store[total_sales_per_store > 200]
stores_above_200

Series([], Name: count, dtype: int64)

**Which month had the highest average sales across all stores?**

In [22]:
highest_avg_sales_month = average_sales_per_month.idxmax()
highest_avg_sales_value = average_sales_per_month.max() 
print(f"Month with the highest average sales: {highest_avg_sales_month} with sales {highest_avg_sales_value}")

Month with the highest average sales: Feb with sales 15.09

**Which city generated the most revenue?**

In [26]:
total_sales_per_city = data.groupby('city')[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum()
highest_sales_city = total_sales_per_city.sum(axis=1).idxmax()  
highest_sales_city_value = total_sales_per_city.sum(axis=1).max()  
print(f"City with the highest sales: {highest_sales_city} with total sales {highest_sales_city_value}")

City with the highest sales: California with total sales 7522